{% extends "_base.html" %}
{% block content %}

<h3>Please login</h3>

{# I've omitted adding the request.form.username to this, not sure what it does #}

<form method="post" action="/">
    {{ form.csrf_token }}
    <p>
    {{ form.name(placeholder="name") }} 
    <span class="error">
    {% if form.name.errors %}
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    </span>
    </p>
    <p>
    {{ form.password(placeholder="password") }} 
    <span class="error">
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </span>
    </p>
    <button class="btn btn-small btn-success" type="submit" value="Login">Login</button>
</form>

<p>Need an account? <a href="{{ url_for('users.register') }}">Sign Up!</a></p>

{% endblock %}
